{% extends "./base.html" %}

{% block content %}
<h1>Search users</h1>
<form class="form-inline" id="userSearchForm">
    <div class="form-group mx-sm-3 mb-2">
        <label for="inputSearch" class="sr-only">Search users</label>
        <input type="search" class="form-control" id="inputSearch" placeholder="Search users">
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label for="selectGroup" class="sr-only">Select group</label>
        <select id="selectGroup" class="form-control">
            <option value="student">Students</option>
            <option value="teacher">Teachers</option>
            <option value="all" selected>All</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary mb-2" id="buttonSearch">Search</button>
</form>
<br>
<br>
<div id="matchingUsers"></div>
<script>
    // adding event listener to click the search button when enter key is pressed
    document.querySelector('#inputSearch').focus();
    document.addEventListener('keyup', function (e) {
        if (e.keyCode === 13) { // enter key
            document.querySelector('#buttonSearch').click();
        }
    });
    document.getElementById('userSearchForm').addEventListener('submit', function (e) {
        e.preventDefault();
        const query = document.getElementById('inputSearch').value;
        const group = document.getElementById('selectGroup').value;

        fetch(`/api/search_users/?query=${query}&group=${group}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                const matchingUsersDiv = document.getElementById('matchingUsers');
                matchingUsersDiv.innerHTML = '';
                matchingUsersDiv.innerHTML += `<ul>`;
                if (data.length > 0) {
                    data.forEach(user => {
                        matchingUsersDiv.innerHTML += `<div class="row"><div class="col-md-8"><li>${user.username} - <strong>${user.first_name} ${user.last_name}</strong> - id: ${user.id} - group : ${user.group}<a class="btn btn-success btn-sm" style="margin-inline: 10px;" href="/user/profile/${user.id}">View Profile</a></li></div></div><br>`;
                    });
                } else {
                    matchingUsersDiv.innerHTML = '<p>No users found matching criteria.</p>';
                }
                matchingUsersDiv.innerHTML += `</ul>`;
            })
            .catch(error => console.error('Error:', error));
    });
</script>
{% endblock %}