<div class="row">
    <div class="col text-left" id="left_side">
    </div>
    <div class="col text-center" class="content">
        <h1 style="margin: 30pt;">World Class Online Learning one click away</h1>
    </div>
    <div class="col text-right" class="right_side">
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <button type="button" class="btn btn-primary" style="padding-inline: 40pt;">
            <a style="color: white;" href="../register/">Sign up</a>
        </button>
        <p style="margin-top: 30pt; color: gray;">Already have an account?</p>
        <button type="button" class="btn btn-link" style="margin-bottom: 5pt; font-size: 14pt">
            <a href="../login/">Log in</a>
        </button>
    </div>
</div>